vents {
    worker_connections  1024;
}

http {
    # support all mime types
    include /etc/nginx/mime.types;
    server {
        listen 80;
        root /usr/share/nginx/html;
        # add_header X-Frame-Options "SAMEORIGIN";
        location / {
            try_files $uri $uri/ http://localhost:8765;
        }
    }

    proxy_connect_timeout       300s;
    proxy_read_timeout          300s;
    proxy_send_timeout          300s;
    send_timeout                300s;
}